{% load static %}
<footer class="footer">
    <div class="footer-container">
      <div class="footer-section-left">
        <h2>pandaeyes</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </div>
      <img
        class="footer-logo"
        src="{% static 'image/logo_panda.PNG'%}"
        alt=""
      />
      <div class="footer-section-right">
        <h2>
          присоединяйся к нам <br />
          на других платформах
        </h2>
        <div class="social">
          <a href=""><img src="{% static 'image/vk.png'%}" alt="vk" /></a>
          <a href=""
            ><img src="{% static 'image/telegram.png'%}" alt="telegram"
          /></a>
          <a href=""
            ><img src="{% static 'image/youtube.png'%}" alt="youtube"
          /></a>
          <a href=""
            ><img src="{% static 'image/github.png'%}" alt="github"
          /></a>
        </div>
        <p>Все права защищены 2020-2021</p>
      </div>
    </div>
  </footer>