{% extends "wrapper.html" %} {% block content %}
<header>
  {% load static %}
  <div class="top-header">
    <div class="text-logo">
      <img src="{% static 'image/text-logo-roadmap.png'%}" alt="" />
    </div>
  </div>
  <nav class="page-nav-container">
    <ul class="page-nav-items">
      <li><a href="/">главная</a></li>
      <li><a href="/blog">блог</a></li>
      <li><a href="/book">учебник</a></li>
      <li><a href="/about">о проекте</a></li>
    </ul>
  </nav>
</header>
<main class="roadmap-main-container">
  <h1>roadmap</h1>
  <img class="roadmap__1" src="{% static 'image/roadmap1.jpg'%}" alt="">
</main>
{% endblock %}