{% extends "wrapper.html" %} {% block content %}
<header>
  {% load static %}
  <div class="top-header">
    <div class="text-logo">
      <img src="{% static 'image/text-logo-about.png'%}" alt="" />
    </div>
  </div>
  <nav class="page-nav-container">
    <ul class="page-nav-items">
      <li><a href="/">главная</a></li>
      <li><a href="/blog">блог</a></li>
      <li><a href="/book">учебник</a></li>
      <li><a href="/roadmap">roadmap</a></li>
    </ul>
  </nav>
</header>
<main class="about-us-container">
  <h1>Что тут вообще происходит</h1>
  <h2>Друзья, мы рады приветствовать вас на нашем сайте.</h2>

          <p>Pandaeyes-образовательный портал посвящённый информационным технологиям и всему что с ними связано. Мы относим себя к OpenSource проектам с открытым исходным кодом. Наша <a href="https://github.com/h1gfun4/h1gfun4.github.io/blob/master/The%20MIT%20License%20(MIT)">MIT</a> лицензия. Ознакомиться с кодом проектом можно <a href="#">ТУТ</a></p>

          <h2>Кому подойдёт?</h2>
          <p>Наша команда готовит увлекательные курсы по дополнительному профессиональному образованию. Начиная с самых основ computer science, поэтому программа подойдёт как новичкам без опыта, так и начинающим с небольшим опытом в программирование.
          С головой окунёмся в разработку веб сайтов, предварительно изучив устройство персонального компьютера, операционные системы, сопутствующий софт, сети и многое другое. Подробнее с примерной дорожной картой проекта можно ознакомиться в разделе Roadmap, 
          которая в последствии будет дорабатываться и улучшаться. </p>

          <h2>Чему вы научитесь на первом этапе проекта? </h2>
          <ul>
              <li> Разберётесь в устройстве современным компьютерных систем</li>
              <li> Получите базовые знания системного администратора по работе с сетью </li>
              <li> Научитесь верстать на HTML и CSS</li>
              <li> Работать базами данных </li>
              <li> Освоите такой объектно-ориентированный язык программирования как Python</li>
              <li> Познакомитесь с фреймворком Django, напишете и загрузите своё первое приложение на сервер. </li>
              <li> Примените на практике знания распределенной системы контроля версий Git</li>
          </ul>
          <h2>Как проходит обучение? </h2>
          <p>Все очень просто! В разделе «учебник» выберете подходящий для вас раздел, пройдите видео-урок, посмотрите дополнительные материал и приложения к уроку, выполните домашнее задание и приступайте к следующему. Как нам всем известно с детства «повторение мать учения», 
          сделайте урок дважды если с первого раза материал не был усвоен. Так же вы можете обращаться за помощью в чат сообщества «ссылка» или напрямую к нашим администраторам в соц сетях, они с радостью помогут вам разобраться со сложными вопросами.</p>

          
          <h2>Наша команда:</h2>
          <h4>Арсений-основатель проекта, ведущий разработчик и главный редактор в одном лице. Несмотря на юный возраст успел освоить большое количество компьютерных дисциплин.</h4>
          <ul>
            <li><a target="_blank" href="#">Linkdin</a></li>
            <li><a target="_blank" href="https://twitter.com/Zera2lS">Twitter</a></li>
            <li><a target="_blank" href="https://vk.com/zera2l.arseniy">Vkontate</a></li>
            <li><a target="_blank" href="https://github.com/ZeRa2L">Github</a></li>
            <li><a target="_blank" href="https://t.me/ZeRa2ll">Telegram</a></li>
          </ul>
          <h4>Аарон-сооснователь, backend разработчик и системный администратор проекта. </h4>
          <ul>
            <li><a target="_blank" href="http://linkedin.com/in/aaron-aht-9923b1200">Linkdin</a></li>
            <li><a target="_blank" href="https://twitter.com/h1gfun4">Twitter</a></li>
            <li><a target="_blank" href="https://vk.com/kamsakamsi">Vkontate</a></li>
            <li><a target="_blank" href="https://github.com/h1gfun4">Github</a></li>
            <li><a target="_blank" href="https://t.me/kamslkamsa">Telegram</a></li>
          </ul>
          <h4>Сергей-дизайнер проекта. Именно благодаря Сергею pandaeyes выглядит так привлекатльно. Им была написана львиная доля клиентской части портала и заложены основные идеи альтруизма в команде.</h4>
          <ul>
              <li><a target="_blank" href="https://github.com/cyberserj">Github</a></li>
          </ul>
          <h2>Вместо заключения. </h2>
          <p>Так как pandaeyes отвергает «коммерческие радости» и придерживается принципов свободного программного обеспечения, доступного образования в сфере информационных технологий и не только, мы нуждаемся в вашей поддержке, главная из которых это внимание к проекту и ваше участие, 
          подписывайтесь на нас в социальных сетях и мессенджерах. Расскажите о нас вашим друзьям. Чем нас будет больше, тем стремительный будет развиваться проект. Мы готовы к сотрудничеству и не откажемся от помощи опытных разработчиков, от их совета и конструктивной критики.</p>
</main>
{% endblock %}